@import "fonts.scss";

.article-desktop {
    display: block;
    visibility: visible;
    opacity: 1;
}

.article-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 768px) {

    .article-desktop {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .article-mobile {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.article-news-section {
    display: flex;

    &--col {
        display: flex;
        flex-direction: column;
    }

    &__main-news {
        padding-bottom: 18px;
    }

    &__topic {
        padding-bottom: 24px;
        &--bold {
            font-weight: 600;
        }
        &--red {
            color: red;
        }
    }

    &__title {
        padding-bottom: 24px;
        font-family: "Source Serif 4";
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: left;
    }

    &__description {
        padding-bottom: 24px;
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
    }

    &__date-public {
        padding-bottom: 24px;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
    }

    &__image-container {
        width: 948px;
        height: 592px;
    }

    &__photographer {
        padding-top: 12px;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
    }

    &__divider {

        &--vertical {
            border-left: 1px solid $black-30;
            margin: 0 12px;
        }
    }

    &__tags-container {
        margin: 0 auto;
        width: 564px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 12px;
        border-bottom: 1px solid $black-30;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    &__tag-btn {
        padding: 8px 18px;
        border-radius: 20px;
        background-color: #EFEFEF;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    &__news-tabs {
        display: flex;
        padding-top: 24px;
    }

    &__news-tab {
        font-family: Proxima Nova;
        color: #787878;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        padding: 6px 23px;
        border-left: 1px solid $black-30;
        cursor: pointer;

        &--without-border-left {
            border-left: none;
            color: black;
        }
    }

    &__news_wrapper {
        display: flex; 
        padding-top: 24px;
        padding-bottom: 26px;
    }

    &__news_wrapper-col {
        border-right: 1px solid $black-30;
        padding-right: 18px;

        &--without-border-padding {
            border-right: none;
            padding-left: 18px;
            padding-right: 0;
        }
    }
}

.article-simple-news {
    padding-top: 18px;
    width: 564px;
    margin: 0 auto;

    &--margin-bottom {
        margin-bottom: 18px;
    }

    &__small-title {
        padding-bottom: 5px;
        border-bottom: 1px solid $black-30;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }

    &__title {
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
    }

    &__description {
        padding-top: 12px;
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-align: left;

        &--text-red {
            color: red;
        }
    }

    &__video-container {
        padding-bottom: 12px;
        width: 564px;
        height: 316px;
        background-color: #EFEFEF;
    }

    &__quote-container {
        padding-top: 24px;
        padding-bottom: 12px;
        width: 371px;
        margin: 0 auto;
    }

    &__quote-text {
        padding-bottom: 12px;
        font-family: "Source Serif 4";
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
    }

    &__quote-auth {
        color: red;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.9px;
        letter-spacing: 0.014000000432133675px;
        text-align: left;
    }
}

.article-small-news {
    width: 564px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 18px;

    &--full-width {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    &__to-open {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }

    &__container {
        display: flex;
        border-top: 1px solid $black-30;
        border-bottom: 1px solid $black-30;
        padding: 12px 0;
        gap: 24px;

        &--without-border-top {
            border-top: none;
        }

        &--without-border-bottom {
            border-bottom: none;
        }

    }

    &__image-container {
        width: 192px;
        height: 120px;
    }

    &__news-container {

    }

    &__topic {
        padding-bottom: 8px;
        color: #DE0B0B;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
    }

    &__title {
        padding-bottom: 4px;
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }

    &__description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
}

.article-news-section-footer {
    width: 564px;
    margin: 0 auto 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $black-30;

    &__copyright {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    &__social-icons {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__copyright-row {
        display: flex;
        justify-content: space-between;
    }
}

.article-mobile-news-section {
    &__row {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    &__col {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__img-container {
        width: 100%; 
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 

        &--circle {
            border-radius: 50%;
        }

        &--size-68 {
            max-width: 68px;
            margin-left: auto;
        }
    }

    &__topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        color: #DE0B0B;
    }

    &__title {
        font-family: "Source Serif 4";
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        color: #1e1e1e;
    }

    &__description {
        font-family: "Source Serif 4";
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #1e1e1e;

        &--size-16 {
            font-size: 16px;
        }

        &--size-18 {
            font-size: 18px;
        }

        &--text-red {
            color: #DE0B0B;
        }
    }

    &__main-image-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__photo-info {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
    }

    &__unit {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        gap: 4px;
    }

    &__unit-text {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        color: #1e1e1e;
    }

    &__header {
        margin-top: 24px;
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: #1E1E1E;
    }

    &__quote-container {
        display: flex;
        gap: 24px;
        padding: 0 28px;
    }

    &__quote {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__quote-text {
        font-family: "Source Serif 4";
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #1E1E1E;
    }

    &__tags-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 12px;
    }

    &__tag-btn {
        padding: 8px 18px;
        border-radius: 17px;
        background-color: #EFEFEF;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    &__news-tabs {
        display: flex;
        padding-top: 24px;
        padding-bottom: 28px;
        flex-wrap: wrap; 
        overflow: hidden; 
    }

    &__news-tab {
        font-family: Proxima Nova;
        color: #787878;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        padding: 6px 0; 
        border-left: 1px solid $black-30;
        flex-grow: 1; 
        cursor: pointer;

        &--without-border-left {
            border-left: none;
            color: black;
        }
    }
    
}

.article-mobile-simple-news {
    margin-top: 2px;

    &--bg-gray {
        background-color: #efefef;
        padding: 6px 8px;

        &--p-0 {
            padding: 0;
        }
    }
    &--bg-black {
        background-color: #1e1e1e;
        padding: 6px 8px;
        color: white;

        &--p-0 {
            padding: 0;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        color: #DE0B0B;
        

        &--background-orange {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;
            width: fit-content;
        }

        &--background-red {
            padding: 1px 6px;
            color: white;
            background-color: #DE0B0B;
            width: fit-content;
        }

        &--background-red-circle {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;

            &::after {
                content: '';
                display: inline-block;
                width: 6px;  
                height: 6px; 
                background-color: white; 
                border-radius: 50%; 
                margin-left: 4px; 
            }
        }
    }
    &__title {
        font-family: "Source Serif 4";
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.02em;

        &--size-18 {
            font-size: 18px;
        }
        &--size-16 {
            font-size: 16px;
        }
        &--size-26 {
            font-size: 26px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.03em;
        }
        &--size-14 {
            font-family: Proxima Nova;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
        }

        &--italic {
            font-family: "Source Serif 4";
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
        }

        &--red-text {
            color: #DE0B0B;
        }
    }

    &__description {
        margin-top: 8px;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #787878;  
        &--text-black {
            color: #1E1E1E;
        } 
        &--text-white {
            color: #fff;
        } 
    }

    &--w-246 {
        min-width: 246px;
    }

    &__container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    // &__img-container {
    //     width: 100%; 
    // }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 

        &--circle {
            border-radius: 50%;
        }

        &--size-68 {
            max-width: 68px;
            margin-left: auto;
        }

        &--size-108 {
            min-width: 108px;
        }
    }
}

.article-mobile-news-section-footer {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__licence {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #1E1E1E;
    }

    &__protect {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #1E1E1E;
    }

    &__source {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #1E1E1E;
     
    }

    &__social-icons {
        display: flex;
        align-items: center;
        gap: 18px;
    }
}

@media screen and (max-width: 1304px) {

    .article-news-section {
        
        &__title {
            font-size: 24px;
            line-height: 32px;
        }

        &__description {
            font-size: 14px;
            line-height: 20px;
        }

        &__image-container {
            width: unset;
            height: unset;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .article-simple-news {
        width: 400px;

        &__video-container {
            width: 400px;
            height: 225px;
        }

        &__description {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .article-small-news {
        width: 400px;
    }
}