.footer {
  margin-bottom: 16px;

  &__logo {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 24px;
    font-family: "Source Serif 4";
    font-size: 28px;
    font-weight: 400;
    color: $black-100;
    border-bottom: 1px solid $black-100;
  }

  &__section {
    display: flex;
    align-items: center;

    &--subscribe {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__column-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    color: $black-60;
    margin-bottom: 16px;
  }

  &__link {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $black;
    cursor: pointer;
    text-decoration: none;

    &--gray {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      color: $black-60;
    }
  }

  &__vr-divider {
    margin: 0 74px 0 16px;
    width: 1px;
    height: 215px;
    background: $black-30;
  }

  &__subscribe-title {
    margin-bottom: 24px;
    font-family: "Source Serif 4";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: $black;

    &--red {
      margin-bottom: 12px;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.6px;
      color: $red;
      text-transform: uppercase;
    }
  }

  &__subscribe-input-container {
    display: flex;
  }

  &__subscribe-input {
    width: 240px;
  }
}

.new-footer {
  padding-bottom: 24px;

  &__logo {
      display: flex;
      justify-content: space-between;

      margin-bottom: 50px;
  }

  &__logo-text {
      font-family: "Source Serif 4";
      font-size: 28px;
      font-weight: 400;
  }

  &__logo-underline {
      border-bottom: 1px solid $black-30; 
      flex-grow: 1;
  }

  &__logo-icons {
      display: flex;
      align-items: center;
      gap: 12px;
  }

  &__section {
      display: flex;
      justify-content: space-between;
  }

  &__links-container {
      
  }

  &__links {
      display: flex;
      gap: 24px;
  }

  &__links-col {
      margin-bottom: 20px;
  }

  &__links-title {
    margin-bottom: 8px;
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #787878;
    text-transform: uppercase;
  }

  &__links-text {
      font-family: Proxima Nova;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.01em;
      text-align: left;
  }
}

.new-footer-mobile {
  // margin-top: 40px;
  // padding: 18px 32px 33px;
  &__logo {
      display: flex;
      justify-content: space-between;
      position: relative;  
      padding: 42px 32px 18px;
  }

  &__logo-text {
      font-family: "Source Serif 4";
      font-size: 28px;
      font-weight: 400;
  }

  &__logo-underline {
      border-bottom: 1px solid $black-30; 
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
  }

  &__logo-icons {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px 40px;
  }

    &__col {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  
    &__section {

    }
  
    &__section-title {
      font-family: Proxima Nova;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #787878;

      margin-bottom: 8px;
    }
  
    &__section-par {
      font-family: Proxima Nova;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.01em;
      text-align: left;
      color: #1e1e1e;
    }

    &__subscribe-topic {
      font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        color: #DE0B0B;
    }

    &__subscribe-title {
      font-family: Source Serif 4;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
    }
  
    &__subscribe-input-container {
      display: flex;
      width: 100%;
    }
  
    &__subscribe-input {
      width: 100%;
    }

    &__block {
      display: flex;
      align-items: center;
      gap: 12px;
  
      &--subscribe {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 21px 21px 33px;
      }
    }
}