.footer {
  padding-bottom: 24px;

  &__logo {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 18px;
  }

  &__logo-text {
      font-family: "Source Serif 4";
      font-size: 28px;
      font-weight: 400;
  }

  &__logo-underline {
    margin: 0 10px;
    border-bottom: 1px solid $black-30; 
    flex-grow: 1;
  }

  &__logo-icons {
      display: flex;
      align-items: center;
      gap: 12px;
  }

  &__section {
      display: flex;
      justify-content: space-between;
  }

  &__links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px 24px;
  }

  &__links-title {
    margin-bottom: 8px;
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #787878;
    text-transform: uppercase;
  }

  &__links-text {
      font-family: Proxima Nova;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.01em;
      text-align: left;
  }

  &__advertising-section {
    width: 580px;
    height: 157px;
    border: 1px solid #EFEFEF;
  }

  &__subscribe {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: calc(100% + 22px);
    margin: 61px -11px 14px -11px;
  }

  &__subscribe-topic {
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    color: #DE0B0B;
    margin-bottom: 4px;
  }

  &__subscribe-title {
    font-family: "Source Serif 4";
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-bottom: 12px;
  }

  &__subscribe-input-container {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
  }

  &__subscribe-input {
    width: 100%;
  }  
}

@media screen and (max-width: 1304px) {
  .footer {

    &__advertising-section {
      width: 240px;
    }
  }
}

@media screen and (max-width: 766px) {
  .footer {
    padding: 18px 32px;

    &__links-container {
      width: 100%;
    }

    &__links {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    &__advertising-section {
      display: none;
    }

    &__subscribe {
      display: flex;
    }
  }
}