@use "vars.scss" as vars;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    ul {
        display: flex;

        li {
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }
}

.container {
    max-width: 1216px;
    margin: auto;

    @media screen and (width <= 1230px) {
        padding: 0 15px;
    }
}

body {
    color: white;
    font-family: vars.$font;
}
