html {
	background: #EFEFEF;
}

body {
	width: auto;
	max-width: 1304px;
	padding: 0 32px !important;
	margin: 0 auto;
	background: white;

	* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
	}
}

.news-section {

	&--row {
		display: flex;
	}

	&--column {
		display: flex;
		flex-direction: column;
	}

	&--between {
		justify-content: space-between;
	}

	&--gray-bg {
		padding: 12px;
		background: $whiteGray-1;
	}

	&--w-208 {
		width: 208px;
		min-width: 208px;
	}

	&--w-436 {
		width: 436px;
		min-width: 436px;
	}

	&--w-224 {
		width: 224px;
		min-width: 224px;
	}

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		font-size: 20px;
		font-weight: 600;
		line-height: 26px;
		color: $black;
	}

	&__list {
		display: flex;
		align-items: center;
		
		&--column {
			flex-direction: column;
		}
	}
}

.videos-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-bottom: 24px;

	&__item {
		min-width: 280px;
		height: 560px;
		margin-right: 24px;
		background: $black-60;
		border-radius: 8px;

		&:last-child {
			margin-right: 0;
		}
	}

	&--gap {
		gap: 10px;
	}
}

.advertising {
	width: 100%;
	height: 200px;
}

.thanks-us-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 72px 0;
	border-bottom: 1px solid $black-100;

	&__title {
		margin-bottom: 32px;
		font-size: 24px;
		line-height: 22px;
		color: $black;
	}
}

@media screen and (max-width: 768px) {
	
	body {
		padding: 0 24px;
		width: auto;	
	}
}