.input {
  height: 40px;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  input {
    background: var(--white);
    color: var(--black);
    letter-spacing: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    outline: none;
  }

  &--outlined-black {
    color: $black;
    border: 1px solid $gray-2;
    border-radius: 0;

    &:focus,
    &:active {
      border: 1px solid $black;
      outline: none;
    }

    &::placeholder {
      color: $black-40;
    }
  }

  &--outlined-white {
    background: $white;
    color: $black-100;
    border-radius: 0;

    &::placeholder {
      color: $gray-2;
    }
  }

  &--height-24 {
    height: 24px;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 18px;
  }

  &--radius-24 {
    border-radius: 24px;
  }
}