.simple-news {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--w-224 {
    width: 224px;
    min-width: 224px;

    .simple-news__image-container {
      height: 140px;
    }
  }

  &--w-288 {
    width: 288px;
    min-width: 288px;

    .simple-news__image-container {
      height: 260px;
    }
  }

  &--w-436 {
    width: 436px;
    min-width: 436px;

    .simple-news__image-container {
      height: 270px;
    }    
  }

  &--w-408 {
    width: 408px;
    min-width: 408px;

    .simple-news__image-container {
      height: 255px;
    } 
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__time {
    margin-bottom: 4px;
    color: $gray-2;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__tag {
    margin-bottom: 8px;
    color: $darkRed;    
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__title {
    margin: 8px 0;
    color: $black;
    font-family: "Source Serif 4";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

    &--fs-20 {
      margin-top: 4px;
      font-size: 20px;
      line-height: 24px;
    }

    &--fs-24 {
      margin: 12px 0;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.048px;
    }
  }

  &__description {
    color: $black;
    font-size: 12px;
    font-weight: 400;

    &--bold {
      font-weight: 700;
    }

    &--italic {
      font-size: 16px;
      font-family: "Source Serif 4";
      font-style: italic;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0;
    }

    &--fs-14 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.15px;
    }
  }

  &__image-container {
    height: 140px;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__avatar-container {
    width: 46px;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-news {
  width: 520px;
  text-align: center;

  &__image-container {
    height: 320px;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__tag {
    margin: 8px 0;
    color: $darkRed;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__title {
    margin: 8px 24px;
    color: #000;
    text-align: center;
    font-family: "Source Serif 4";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.048px;
  }

  &__description {
    margin: 0 24px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.15px;
  }
}