@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:wght@400;500;700&display=swap");

$dark-blue: #050d3b;
$blue: #2528b7;
$grey-blue: #353b63;
$light-blue: #08ddeb;
$black: #000313;
$h2-size: 36px;
$font: "Roboto", sans-serif;
