.author-news-section {
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
    }
    &__title {
        padding-top: 12px;

        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
    }
    &__title-underline {
        border-bottom: 1px solid black; 
        width: 1000px;
        margin-left: 12px;
    }
    &__main {
        display: flex;
    }
    &__col {
        display: flex;
        flex-direction: column;

        &--w-203 {
            width: 203px;
        }
        &--w-830 {
            width: 830px;
            padding: 12px;
        }
        &--w-333 {
            width: 333px;
            border: 1px solid $black-30;
        }
    }
    &__author-card {
        display: flex;
        gap: 32px;
        padding-bottom: 32px;
        border-right: 1px solid $black-30;
    }
    &__author-card-img {
        width: 192px;
        height: 192px;
        border-radius: 100px;
    }
    &__author-card-description {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__lg-news {
        padding-left: 12px;
        padding-right: 12px;

        padding-top: 12px;
        padding-bottom: 24px;
        display: flex;
        gap: 24px;
        border-left: 1px solid $black-30;
        border-right: 1px solid $black-30;
    }
    &__lg-news-img {
        width: 300px;
        height: 184px;        
    }
    &__lg-news-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__lg-news-topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__lg-news-title {
        font-family: "Source Serif 4";
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
    }
    &__lg-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    &__simple-news {
        display: flex;
        gap: 24px;
        padding: 24px 12px;
        border-bottom: 1px solid $black-30;
        border-left: 1px solid $black-30;
        border-right: 1px solid $black-30;

        &--pt-0 {
            padding-top: 0;
        }
    }
    &__simple-news-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__simple-news-img {
        width: 192px;
        height: 120px;
    }
    &__simple-news-topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__simple-news-title {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__simple-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
}