body{
    padding: 0;
}

.main-mobile-news-section {
    &__row {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    &__col {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__img-container {
        width: 100%; 
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 

        &--circle {
            border-radius: 50%;
        }

        &--size-68 {
            max-width: 68px;
            margin-left: auto;
        }
    }

    &__header {
        display: flex; 
        align-items: flex-end; 
        margin: 16px 0 26px; 
        position: relative;  
    }

    &__title {
        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #1E1E1E;
    }

    &__title-underline {
        flex-grow: 1; 
        border-bottom: 2px solid black;
        margin-left: 12px;
        margin-bottom: 7px;
    }

    &__rates-container {
        border: 1px solid $black-30;

        &--no-margin-top {
            margin-top: 0;
        }
    }
    &__rates-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        padding: 10px;
        border-bottom: 1px solid $black-30;

        &--no-border-bottom {
            border-bottom: none;
        }
        img {
            max-width: 100%;
        }
    }
    &__rates-title {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;
    }
    &__rates-nums {
        display: flex;
    }
    &__rates-amount {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: right;

        padding-right: 12px;
    }
    &__rates-percent {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;

        &--green {
            color: #69B969;

            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color: #69B969;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }
        &--red {
            color: #DE0B0B;

            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color:  #DE0B0B;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }

        &--gray {
            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color: #787878;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }
    }
}

.main-mobile-simple-news {
    margin-top: 2px;
    &--bg-gray {
        background-color: #efefef;
        padding: 6px 8px;

        &--p-0 {
            padding: 0;
        }
    }
    &--bg-black {
        background-color: #1e1e1e;
        padding: 6px 8px;
        color: white;

        &--p-0 {
            padding: 0;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        color: #DE0B0B;
        

        &--background-orange {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;
            width: fit-content;
        }

        &--background-red {
            padding: 1px 6px;
            color: white;
            background-color: #DE0B0B;
            width: fit-content;
        }

        &--background-red-circle {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;

            &::after {
                content: '';
                display: inline-block;
                width: 6px;  
                height: 6px; 
                background-color: white; 
                border-radius: 50%; 
                margin-left: 4px; 
            }
        }
    }
    &__title {
        font-family: Source Serif Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.02em;

        &--size-18 {
            font-size: 18px;
        }
        &--size-16 {
            font-size: 16px;
        }
        &--size-26 {
            font-size: 26px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.03em;
        }
        &--size-14 {
            font-family: Proxima Nova;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
        }

        &--italic {
            font-family: Source Serif 4;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
        }

        &--red-text {
            color: #DE0B0B;
        }
    }

    &__description {
        margin-top: 8px;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #787878;  
        &--text-black {
            color: #1E1E1E;
        } 
        &--text-white {
            color: #fff;
        } 
    }

    &--w-246 {
        min-width: 246px;
    }

    &__container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__img-container {
        width: 100%; 
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 

        &--circle {
            border-radius: 50%;
        }

        &--size-68 {
            max-width: 68px;
            margin-left: auto;
        }
    }
}

.horizontal-divider {
    width: 100%; 
    height: 1px; 
    background-color: $black-30;
}

.gray-rectangle {
    width: 100%; 
    height: 400px; 
    background-color: $black-30;
    margin: 16px 0;
}

.vertical-divider {
    width: 1px; 
    align-self: stretch; 
    background-color: $black-30;
}
