.main-header {
    padding-bottom: 18px;

    &__title {
        text-align: center;
        color: $black;
        font-family: "Source Serif 4";
        font-size: 32px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 3.2px;
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $black-30;
    }
    
    &__navbar-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navbar-icon-container {
        padding: 12px;
        border-right: 1px solid $black-30;
    }

    &__navbar-themes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &__navbar-theme {
        padding: 12px 20px;
    }

    &__navbar-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding-left: 16px;
    }
}

.main-news-section {
    &__row {
        display: flex;

        &--justify-between {
            justify-content: space-between; 
        }
    }
    &__col {
        display: flex;
        flex-direction: column;

        &--w-192 {
            width: 192px;
            padding: 6px 9px;
        }
        &--w-408 {
            width: 408px;
        }
        &--w-517 {
            width: 517px;
        }
        &--w-732 {
            width: 732px;
        }
        &--w-972 {
            width: 972px;
        }
        &--w-298 {
            width: 298px;
        }
        &--w-300 {
            width: 300px;
        }
        &--w-843 {
            width: 860px;
        }
        &--w-450 {
            width: 450px;
        }
        &--w-220 {
            width: 220px;
        }
        &--bg-gray {
            background-color: #EFEFEF;
            text-align: center;
        }
    }
    &__main-img img {
        width: 732px;
        height: 320px;
        padding-bottom: 12px;
    }
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
    }
    &__title {
        padding-top: 12px;

        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
    }
    &__title-underline {
        border-bottom: 2px solid black; 
        width: 83%;
        margin-left: 12px;
    }
    &__news-unit {
        font-family: Source Serif Pro;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;

        padding-bottom: 24px;
    }
    &__rates-container {
        border: 1px solid $black-30;
        margin-top: 24px;

        &--no-margin-top {
            margin-top: 0;
        }
    }
    &__rates-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        padding: 10px;
        border-bottom: 1px solid $black-30;

        &--no-border-bottom {
            border-bottom: none;
        }
        img {
            max-width: 100%;
        }
    }
    &__rates-title {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;
    }
    &__rates-nums {
        display: flex;
    }
    &__rates-amount {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: right;

        padding-right: 12px;
    }
    &__rates-percent {
        font-family: Proxima Nova;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;

        &--green {
            color: #69B969;

            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color: #69B969;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }
        &--red {
            color: #DE0B0B;

            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color:  #DE0B0B;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }

        &--gray {
            &::after {
                content: ''; 
                display: inline-block; 
                width: 8px; 
                height: 6px; 
                background-color: #787878;
                margin-left: 6px; 
                margin-bottom: 3px;
                vertical-align: middle;
            }
        }
    }
}

.main-simple-news {

    &--w-246 {
        min-width: 246px;
    }

    &--bg-gray {
        background-color: #EFEFEF;
    }

    &--bg-black {
        background-color: #1e1e1e;
        color: #fff;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 12px;
       
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__topics-container {
        display: flex;
        justify-content: space-between;
    }
    
    &__topic {
        margin-bottom: 8px;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        color: #DE0B0B;
        text-transform: uppercase;

        &--background-red {
            max-width: 100%;
            background-color: #F66464;
            color: white;
            padding: 2px 4px;
        }

        &--text-white {
            width: fit-content;
            background-color: #DE0B0B;
            color: white;
            padding: 2px 4px;
        }
    }
    &__title {

        &--size-14 {
            padding-bottom: 18px;
            font-family: Proxima Nova;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.020999999716877937px;
            text-align: left;
        }
        &--size-20 {
            padding-bottom: 8px;
            font-size: 19.53px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            text-align: center;            
        }
        &--size-26 {
            padding-bottom: 8px;
            font-family: Source Serif 4;
            font-size: 26px;
            font-weight: 500;
            line-height: 32.5px;
            text-align: left;
        }
        &--size-18 {
            font-family: Source Serif Pro;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-align: left;
        }
        &--italic {
            font-family: Source Serif 4;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: left;

            padding-bottom: 8px;
        }
    }
    &__time {
        padding-bottom: 8px;
        color: #F66464;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.05000000074505806px;
        text-align: left;
    }
    &__description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;

        &--color-gray {
            color: #787878;

        }
    }

    img {
        max-width: 100%;
    }

    &__container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
   
}

.main-vertical {
    width: 1px;
    height: auto;
    margin: 0 12px;
    background: #DBDBDB;
}
.main-horizontal {
    height: 1px;
    width: auto;
    margin: 16px 0;
    background: #DBDBDB;
}
#circle-img {
    border-radius: 50%;
}
.w-242-img {
    width: 242px;
}
.w-186-img {
    width: 186px;
}