.tag-news-section {
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
    }
    &__title {
        padding-top: 12px;

        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
    }
    &__title-underline {
        border-bottom: 1px solid black; 
        flex-grow: 1;
        margin-left: 12px;
    }
    &__main {
        display: flex;
        padding-bottom: 12px;
        border-bottom: 1px solid $black-30;
    }
    &__col {
        display: flex;
        flex-direction: column;

        &--w-624 {
            width: 624px;
        }
        &--w-300 {
            width: 300px;
            padding: 0 12px;
            margin: 0 12px;
            border-left: 1px solid $black-30;
            border-right: 1px solid $black-30;    
        }
        &--w-299 {
            width: 299px;
            border: 1px solid $black-30;
        }
        &--w-191 {
            width: 191px;
        }
        &--w-732 {
            width: 732px;
            padding: 0 12px;
            margin: 0 12px;
            border-left: 1px solid $black-30;
            border-right: 1px solid $black-30;    
        }
    }
    &__main-news {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    &__main-news-img {
        width: 624px;
        height: 388px;
    }

    &__main-news-topic {
        text-transform: uppercase;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__main-news-title {
        font-family: "Source Serif 4";
        font-size: 26px;
        font-weight: 500;
        line-height: 32.5px;
        text-align: left;
    }
    &__main-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #787878;
    }
    &__small-news {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 18px 0;
        border-bottom: 1px solid $black-30;

        &--no-border-bottom {
            border-bottom: none;
        }
    }
    &__small-news-img {
        img {
            object-fit: contain; 
            width: 100%;
             height: 100%;
        }
    }
    &__small-news-topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__small-news-title {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    &__small-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    &__lg-news {
        padding-top: 12px;
        padding-bottom: 24px;
        display: flex;
        gap: 24px;
    }
    &__lg-news-img {
        width: 300px;
        height: 184px;        
    }
    &__lg-news-container {
        display: flex;
        flex-direction: column;
        gap: px;
    }
    &__lg-news-topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__lg-news-title {
        font-family: "Source Serif 4";
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
    }
    &__lg-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    &__simple-news {
        display: flex;
        gap: 24px;
        padding: 24px 0;
        border-top: 1px solid $black-30;
    }
    &__simple-news-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__simple-news-img {
        width: 192px;
        height: 120px;
    }
    &__simple-news-topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__simple-news-title {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__simple-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
}

.tag-mobile-news-section {
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__col {
        padding: 0 24px;
    }

    &__header {
        display: flex; 
        align-items: flex-end; 
        position: relative;  
    }

    &__title {
        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #1E1E1E;
    }

    &__title-underline {
        flex-grow: 1; 
        border-bottom: 2px solid black;
        margin-left: 12px;
        margin-bottom: 7px;
    }

    &__img-container {
        width: 100%; 

        &--my-18 {
            margin: 18px 0;
        }

        &--mb-18 {
            margin-bottom: 18px;
        }
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 
    }
}

.tag-mobile-simple-news {
    &--mb-18 {
        margin-bottom: 18px;
    }

    &--mb-16 {
        margin-bottom: 16px;
    }

    &--my-18 {
        margin: 18px 0;
    }

    &--my-18-16 {
        margin: 18px 0 16px;
    }

    &--my-16 {
        margin: 16px 0;
    }

    &--mt-0 {
        margin-top: 0;
    }

    &--mt-40 {
        margin-top: 40px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__col  {
        margin-left: 16px;
    }

    &__topic {
        color: #DE0B0B;
        font-family: "Proxima Nova";
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px; 
        letter-spacing: 0.4px;
        text-transform: uppercase;

        &--mb-4 {
            margin-bottom: 4px;
        }

        &--background-orange {
            background:#F66464;
            padding: 0 6px;
            color:  #FFF;
            text-align: center;
            font-family: "Proxima Nova";
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 12px; 
            letter-spacing: 0.4px;
            text-transform: uppercase;
            width: fit-content;
        }
    }

    &__title {
        color:  #1E1E1E;

        &--size-16 {
            font-family: "Source Serif 4";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; 
            letter-spacing: -0.32px;
            margin-top: 8px;
        }

        &--size-26 {
            font-family: "Source Serif 4";
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; 
            margin-top: 4px;
        }

        &--size-18 {
            font-family: "Source Serif 4";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; 
            letter-spacing: -0.36px;
            margin-top: 4px;
        }

        &--mb-8 {
            margin-bottom: 8px;
        }
    }

    &__description {
        color:  #787878;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.14px;
    }

    &__img-container {
        width: 100%; 

        &--size-108 {
            max-width: 108px;
        }
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 
    }
}

.tag-desktop {
    display: block;
    visibility: visible;
    opacity: 1;
}

.tag-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1304px) {
    .tag-news-section {

        &__main-news-img {
            width: 500px;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__col {
            &--w-624 {
                max-width: 500px;
            }
        }
    } 
}

@media screen and (max-width: 1000px) {
    .tag-news-section {

        &__main-news-img {
            width: 360px;
            height: 200px;
        }

        &__col {
            &--w-624 {
                max-width: 360px;
            }

            &--w-299 {
                max-width: 100px;
            }
        }
    } 
}

@media screen and (max-width: 768px) {

    .tag-desktop {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .tag-mobile {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}