.team-section {
    display: flex;
    margin-bottom: 18px;
    &__col {
        display: flex;
        flex-direction: column;

        &--w-948 {
            width: 948px;
        }
        &--w-346 {
            margin-top: 18px;
            width: 346px;
            border: 1px solid $black-30;
        }
    }
    &__main-article {
        margin-top: 18px;
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

        border-right: 1px solid $black-30;
        padding-right: 12px;
        margin-right: 12px;
    }
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;

        border-right: 1px solid $black-30;
        padding-right: 12px;
        margin-right: 12px;

    }
    &__title {
        padding-top: 12px;

        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
    }
    &__title-underline {
        border-bottom: 1px solid black; 
        width: 610px;
        margin-left: 12px;
    }
    &__main {
        width: 730px;
        margin-left: auto;

        margin-right: 12px;
    }
    &__news-tabs {
        display: flex;
        padding: 24px 0;

        border-right: 1px solid $black-30;
    }

    &__news-tab {
        font-family: Proxima Nova;
        color: #787878;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        padding: 6px 23px;
        border-left: 1px solid $black-30;

        &--without-border-left {
            border-left: none;
            color: black;
        }
    }
    &__employee-cards {
        display: flex;
        gap: 24px;
        padding-bottom: 32px;
        border-right: 1px solid $black-30;
    }
    &__employee-cards-col {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__employee-card {
        display: flex;
        gap: 12px;
        width: 328px;
    }
    &__employee-card-img {

    }
    &__employee-card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__employee-card-name {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__employee-card-position {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    &__employee-card-social-icons {
        display: flex;
        gap: 10px;
    }
    &__article {
        border-right: 1px solid $black-30;
        padding: 0 12px;
    }
    &__article-title {
        padding-bottom: 12px;
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__article-description {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid $black-30;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;

        p {
            padding-top: 12px;
        }

        p:first-child {
            padding-top: 0;
        }

        &--margin-bottom-0 {
            margin-bottom: 0;
        }
    }
}

.team-mobile-news-section {
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__col {
        padding: 0 24px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        &--mb-12 {
            margin-bottom: 12px;
        }
    }

    &__description {
        color:  #1E1E1E;
        font-family: "Source Serif Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; 
        letter-spacing: -0.32px;

        &--mb-36 {
            margin-bottom: 36px;
        }

        &--size-14 {
            color:  #1E1E1E;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; 
            letter-spacing: -0.14px;

            margin: 12px 0;
        }
    }

    &__header {
        display: flex; 
        align-items: flex-end; 
        position: relative;  

        &--mb-36 {
            margin-bottom: 36px;
        }

        &--py-18-24 {
            padding: 18px 0 24px;
        }
    }

    &__title {
        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #1E1E1E;
    }

    &__title-underline {
        flex-grow: 1; 
        border-bottom: 2px solid black;
        margin-left: 12px;
        margin-bottom: 7px;
    }

    &__tabs-container {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        color:  #787878;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; 
        &--bold {
            color: #1E1E1E;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; 
        }
    }

    &__unit {
        color:  #1E1E1E;
        font-family: "Source Serif 4";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.1px;

        margin-right: 24px;

        &--mt-12 {
            margin-top: 12px;
        }
    }

    &__arrow-icon {
        border: 1px solid #787878;
        padding: 8px 5px;

        &--rotate-180 {
            transform: rotateX(180deg);
        }
    }
}

.team-mobile-people-card {
    display: flex;
    margin: 24px 0;


    &--mb-36 {
        margin-bottom: 36px;
    }

    &--pb-18 {
        margin-bottom: 18px;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }
    
    &__img-container {
        max-width: 84px; 
        margin-right: 12px;
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 
    }

    &__name {
        color: #1E1E1E;
        font-family: "Source Serif 4";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.1px;

        margin-bottom: 4px;
    }

    &__position {
        color: #1E1E1E;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: -0.14px;

        margin-bottom: 12px;
    }

    &__icons {
        display: flex;
        gap: 8px;
    }
}

.team-desktop {
    display: block;
    visibility: visible;
    opacity: 1;
}

.team-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1272px) {

    .team-desktop {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .team-mobile {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}