.topics-news-section {
    &__header {
        display: flex;
        align-items: baseline;
        padding-bottom: 10px;
    }
    &__main {
        display: flex;
    }
    &__title {
        padding-top: 12px;
        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
    }
    &__title-underline {
        border-bottom: 1px solid black; 
        width: 1000px;
        margin-left: 12px;
    }
    &__col {
        display: flex;
        flex-direction: column;

        &--w-191 {
            width: 191px;
        }
        &--w-730 {
            width: 730px;
            padding: 0 12px;
            margin: 0 12px;
            border-left: 1px solid $black-30;
            border-right: 1px solid $black-30;    
        }
        &--w-333 {
            width: 333px;
            border: 1px solid $black-30;
            height: 500px;
        }
    }
    &__col-title {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 11px;
    }
    &__col-tag {
        padding: 12px 18px;
        border-radius: 17px;
        background-color: #EFEFEF;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        margin-top: 7px;
    }
    &__main-news {
        padding-bottom: 24px;

        display: flex;
        gap: 24px;
    }
    &__main-news-img {
        width: 300px;
        height: 184px;
    }
    &__main-news-container {
        display: flex;
        flex-direction: column;
    }
    &__main-news-topic-container {
        display: flex;
        justify-content: space-between;
    }
    &__main-news-topic {
        text-transform: uppercase;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
        padding: 2px 6px;

        &--background-red {
            background-color: #DE0B0B;
            color: white;

            &::after {
                content: '';
                display: inline-block;
                width: 6px;  
                height: 6px; 
                background-color: white; 
                border-radius: 50%; 
                margin-left: 4px; 
                vertical-align: middle;
            }
        }
    }
    &__main-news-title {
        font-family: "Source Serif 4";
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
    }
    &__main-news_description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    &__simple-news {
        display: flex;
        gap: 24px;
        border-top: 1px solid $black-30;
        padding: 18px 0;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
    &__simple-news-img {
        width: 192px;
        height: 120px;
    }
    &__simple-news-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__simple-news-topic {
        text-transform: uppercase;
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #DE0B0B;
    }
    &__simple-news-title {
        font-family: "Source Serif 4";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    &__simple-news-description {
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }
}

.hr-divider {
    width: 100%; 
    height: 250px;
    margin: 12px 0;
    background-color: gray;

    &--margin-16 {
        margin: 16px 0;
    }
}


// mobile styles

.topics-mobile-news-section {
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__col {
        padding: 0 24px;
    }

    &__header {
        display: flex; 
        align-items: flex-end; 
        position: relative;  
    }

    &__title {
        font-family: Proxima Nova;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #1E1E1E;
    }

    &__title-underline {
        flex-grow: 1; 
        border-bottom: 2px solid black;
        margin-left: 12px;
        margin-bottom: 7px;
    }

    &__unit {
        color: #1E1E1E;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin: 18px 0;
    }

    &__tags-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 12px;
        margin-bottom: 18px;
    }

    &__tag-btn {
        padding: 8px 18px;
        border-radius: 17px;
        background-color: #EFEFEF;
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    &__img-container {
        width: 100%; 
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 
    }
}

.topics-mobile-simple-news {
    &--my-18 {
        margin: 18px 0;
    }

    &--my-18-16 {
        margin: 18px 0 16px;
    }

    &--my-16 {
        margin: 16px 0;
    }

    &--mt-0 {
        margin-top: 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__col  {
        margin-left: 16px;
    }

    &__topic {
        font-family: Proxima Nova;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        color: #DE0B0B;
        

        &--background-orange {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;
            width: fit-content;
        }

        &--background-red {
            padding: 1px 6px;
            color: white;
            background-color: #DE0B0B;
            width: fit-content;
        }

        &--background-red-circle {
            padding: 1px 6px;
            color: white;
            background-color: #F66464;

            &::after {
                content: '';
                display: inline-block;
                width: 6px;  
                height: 6px; 
                background-color: white; 
                border-radius: 50%; 
                margin-left: 4px; 
            }
        }
    }

    &__img-container {
        width: 100%; 
    }
    
    &__image {
        width: 100%; 
        height: auto;
        display: block; 
    }
    
    &__title {
        color:  #1E1E1E;

        &--size-16 {
            font-family: "Source Serif 4";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; 
            letter-spacing: -0.32px;
            margin-top: 8px;
        }

        &--size-26 {
            font-family: "Source Serif 4";
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; 
            margin-top: 4px;
        }
    }
}

.topics-gray-rectangle {
    width: 100%; 
    height: 400px; 
    background-color: $black-30;
}

// mobile styles

.topics-desktop {
    display: block;
    visibility: visible;
    opacity: 1;
}

.topics-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 768px) {

    .topics-desktop {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .topics-mobile {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}